{% extends "layout.html" %}

{% block main %}
<table>
    <tr style="background-color: #dddd;">
        <th>
            Symbol
        </th>
        <th>
            Name
        </th>
        <th>
            Shares
        </th>
        <th>
            Price
        </th>
        <th>
            Total
        </th>
    </tr>
    {% for stock in stocks %}
    <tr>
        <td>{{stock["symbol"]}}</td>
        <td>{{stock["name"]}}</td>
        <td>{{stock["shares"]}}</td>
        <td>${{stock["price"]}}</td>
        <td>${{stock["total"]}}</td>
    </tr>
    {% endfor %}
    <tr style="background-color: rgba(0,0,0,.05);">
        <th colspan="4">Cash</th>
        <td>${{ balance[0]["cash"] }}</td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <th >${{total[0]["SUM(total)"] + balance[0]["cash"] }}</th>
    </tr>
</table>

{% endblock %}